* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --white: #fff;
  --red: #ff3c78;
  --background: #1e1e1e;
}

#active {
  color: var(--red);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.container .section-main {
  background-color: var(--background);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  height: 1078px;
}
.container .section-main .main {
  margin: 0 auto;
  max-width: 1040px;
}
.container .section-main .main .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
}
.container .section-main .main .nav .nav-blog {
  display: flex;
  align-items: center;
}
.container .section-main .main .nav .nav-blog .blog-logo {
  display: flex;
  align-items: center;
}
.container .section-main .main .nav .nav-blog .blog-logo .blog-logo {
  width: 26px;
  height: 26px;
}
.container .section-main .main .nav .nav-blog .blog-logo .logo-title {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  margin-left: 8px;
}
.container .section-main .main .nav .nav-blog .nav-items .nav-item {
  margin: 0 38px;
  color: var(--white);
  transition: all 300ms ease;
}
.container .section-main .main .nav .nav-blog .nav-items .nav-item:hover {
  color: var(--red);
}
.container .section-main .main .nav .nav-reg .login {
  width: 116px;
  height: 44px;
  border: none;
  outline: none;
  color: var(--white);
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  transition: all 300ms ease-in-out;
  background: transparent;
  cursor: pointer;
}
.container .section-main .main .nav .nav-reg .login:hover {
  background-color: var(--red);
}
.container .section-main .main .main-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.container .section-main .main .main-content .main-title {
  font-size: 74px;
  line-height: 81px;
  font-weight: 900;
  color: var(--white);
}
.container .section-main .main .main-content .main-title .title {
  font-style: italic;
  font-size: 74px;
  line-height: 81px;
  font-weight: 300;
  color: var(--white);
}
.container .section-main .main .main-content .content-text {
  width: 456px;
}
.container .section-main .main .main-content .content-text .text {
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  line-height: 26px;
  letter-spacing: 1px;
}
.container .section-main .main .main-content .content-text .btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--red);
  width: 178px;
  height: 38px;
  border-radius: 14px;
  margin-top: 15px;
}
.container .section-main .main .main-content .content-text .btn .btns {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
}
.container .section-main .main .main-content .content-text .btn .img {
  width: 24px;
  height: 24px;
}
.container .section-main .main .main-content .content-text .btn:hover {
  background-color: #ac5770;
}
.container .section-main .main .main-image {
  margin-top: 80px;
  background-image: url(./images/Image.png);
  width: 1040px;
  height: 474px;
  position: relative;
}
.container .section-main .main .main-image .main-box {
  position: absolute;
  top: 35%;
  right: 15%;
  width: 246px;
  height: 238px;
  background-color: var(--white);
  border-radius: 5px;
}
.container .section-main .main .main-image .main-box img {
  background-color: var(--red);
  position: absolute;
  top: 0;
  right: 30%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.container .section-main .main .main-image .main-box .main-title {
  font-size: 48px;
  font-weight: 700;
  color: var(--background);
  text-align: center;
  margin-top: 35px;
}
.container .section-main .main .main-image .main-box .line {
  width: 173px;
  height: 12px;
  background-color: #e1e0de;
  border-radius: 8px;
  margin: 16px auto;
}
.container .section-main .main .main-image .main-box .small-line {
  width: 142px;
  height: 7.3px;
  background-color: #e1e0de;
  border-radius: 8px;
  margin: 16px auto;
}
.container .section-main .main .main-image .main-box .big-line {
  width: 196px;
  height: 42px;
  background-color: #59d7c9;
  margin: 30px auto;
  border-radius: 88px;
}
.container .work-day {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: 590px;
  background-color: #f9f5f2;
}
.container .work-day .day-img {
  position: relative;
}
.container .work-day .day-img .img {
  width: 384px;
  height: 432px;
  border-radius: 16px;
}
.container .work-day .day-img .box-arrow .img-pat1 {
  position: absolute;
  top: 2%;
  left: -15%;
  width: 43px;
  height: 19px;
}
.container .work-day .day-img .box-arrow .img-pat2 {
  position: absolute;
  top: -12%;
  left: -12%;
  width: 47px;
  height: 42px;
}
.container .work-day .day-img .box-arrow .img-pat3 {
  position: absolute;
  top: -15%;
  left: -2%;
  width: 56px;
  height: 47px;
}
.container .work-day .day-img .img-patn {
  position: absolute;
  bottom: -10%;
  right: -12%;
  width: 191px;
  height: 131px;
}
.container .work-day .day-content {
  width: 500px;
}
.container .work-day .day-content .title {
  font-size: 40px;
  font-weight: 700;
  color: var(--background);
  line-height: 47px;
}
.container .work-day .day-content .text {
  font-size: 16px;
  font-weight: 400;
  color: #172237;
  line-height: 24px;
  margin: 16px 0 30px 0;
}
.container .work-day .day-content .btn-link {
  width: 160px;
  height: 48px;
  background-color: #2241cf;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #fff;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.container .work-day .day-content .btn-link:hover {
  background-color: #697dd8;
}
.container .work-day .day-content .title-span {
  font-weight: 700;
  font-size: 16px;
  color: #172237;
  line-height: 26px;
  margin: 34px 0 24px 0;
}
.container .work-day .day-content .user-bio {
  display: flex;
  align-items: center;
}
.container .work-day .day-content .user-bio .user-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 16px;
}
.container .work-day .day-content .user-bio .letter {
  line-height: 26px;
}
.container .work-day .day-content .user-bio .letter li {
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  color: var(--background);
}
.container .work-day .day-content .user-bio .letter li:last-child {
  font-weight: 400;
  font-size: 14px;
  color: #172237;
}
.container .share-blog {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 640px;
}
.container .share-blog .share-content {
  width: 30.8%;
}
.container .share-blog .share-content .title {
  font-size: 40px;
  font-weight: 700;
  color: #1e1e1e;
  line-height: 46px;
}
.container .share-blog .share-content .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--background);
  margin: 40px 0 24px 0;
}
.container .share-blog .share-content .btn {
  width: 160px;
  height: 48px;
  background-color: #2241cf;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #fff;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.container .share-blog .share-content .btn:hover {
  background-color: #697dd8;
}
.container .share-blog .share-cards {
  width: 506px;
  height: 586px;
  border-radius: 16px;
  background-color: #f9f5f2;
  display: grid;
  -moz-column-gap: 50px;
       column-gap: 50px;
  grid-template-columns: repeat(2, 210px);
  grid-template-rows: repeat(2, 257px);
  align-content: center;
  justify-content: center;
  row-gap: 21px;
  padding: 10px;
}
.container .share-blog .share-cards .card {
  border-radius: 16px;
  width: 210px;
  height: 257px;
  background-color: #fff;
  text-align: center;
}
.container .share-blog .share-cards .card .blog {
  background-color: #fff2ec;
  width: 67px;
  height: 67px;
  margin: 16px auto;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .share-blog .share-cards .card .blog .img {
  width: 20px;
  height: 22px;
}
.container .share-blog .share-cards .card .card-title {
  font-size: 24px;
  font-weight: 700;
  color: #1e1e1e;
}
.container .share-blog .share-cards .card .card-text {
  font-weight: 400;
  font-size: 16px;
  color: #1e1e1e;
  width: 178px;
  margin: 15px auto;
  line-height: 24px;
}/*# sourceMappingURL=main.css.map */