* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --white: #fff;
  --red: #ff3c78;
  --background: #1e1e1e;
}

#active {
  color: var(--red);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  .section-main {
    background-color: var(--background);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    height: 1078px;
    .main {
      margin: 0 auto;
      max-width: 1040px;

      .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 94px;
        .nav-blog {
          display: flex;
          align-items: center;
          .blog-logo {
            display: flex;
            align-items: center;

            .blog-logo {
              width: 26px;
              height: 26px;
            }
            .logo-title {
              font-weight: 700;
              font-size: 32px;
              color: #fff;
              margin-left: 8px;
            }
          }

          .nav-items {
            .nav-item {
              margin: 0 38px;
              color: var(--white);
              transition: all 300ms ease;
            }
            .nav-item:hover {
              color: var(--red);
            }
          }
        }
        .nav-reg {
          .login {
            width: 116px;
            height: 44px;
            border: none;
            outline: none;
            color: var(--white);
            border-radius: 16px;
            font-weight: 400;
            font-size: 16px;
            transition: all 300ms ease-in-out;
            background: transparent;
            cursor: pointer;
          }
          .login:hover {
            background-color: var(--red);
          }
        }
      }

      .main-content {
        .main-title {
          font-size: 74px;
          line-height: 81px;
          font-weight: 900;
          color: var(--white);

          .title {
            font-style: italic;
            font-size: 74px;
            line-height: 81px;
            font-weight: 300;
            color: var(--white);
          }
        }
      }
    }
  }
}
